/* About section styles */
#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
    cursor: default;
  padding: 60px 5%;
  background-color: #ffedfa;
  flex-wrap: wrap;
  min-height: 100dvh;
}

/* Text container */
.abouttext {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;

}

.abouttext h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #f7a4de;
}

.abouttext h2 span {
  color: #be5985;
}

.abouttext h4 {
  font-size: 23px;
  font-weight: 550;
  color: #be5985;
  margin-bottom: 20px;
}

.abouttext p {
  font-size: 17px;
  font-weight: 500;
  color: #e969c3;
  line-height: 1.6;
}

.skills {
  text-align: center;
  margin-top: 50px;
}

.skills h4 {
  font-size:  35px;
  font-weight: bold;
  margin-bottom: 20px
}

.skill-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-tags p {
  font-family: 'poppins', sans-serif;
  outline: 2px solid #be5985;
  padding: 9px 25px;
  border-radius: 30px;
  margin: 0;
  font-size: 14px;
}

.skill-tags p:hover {
  color: #f7a4de;
  outline: 2px solid #be5985;
  border-radius: 40px;
  background: #be5985;
  box-shadow:  0 0 20px #be5985,
  0 0 20px #be5985, 0 0 25px #be5985;

}

/* Responsive styles */
@media (max-width: 1200px) {
  #about {
    padding: 60px 5%;
  }

  .abouttext h2 {
    font-size: 50px;
  }

  .abouttext h4 {
    font-size: 18px;
  }
  .skills h4 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .abouttext {
    padding-right: 20px;
  }

  .abouttext h2 {
    font-size: 30px;
  }

  .abouttext p {
    font-size: 15px;
  }

}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
    padding: 50px 5%;
    text-align: center;
  }
  .abouttext {
    order: 0;
    align-items: center;
  }
  .abouttext h2{
    font-size: 50px;
  }


}

@media (max-width: 576px) {
  #about {
    padding: 40px 5%;
  }


  .abouttext h2 {
    font-size: 27px;
  }

  .abouttext h4 {
    font-size: 16px;
  }

  .abouttext p {
    font-size: 14px;
  }

  .aboutimg img {
    max-width: 80%;
    border-radius: 50px;
  }
  .skill-tags p{
    font-size: 9px;
  }
}

@media (max-width: 480px) {
  .aboutimg img {
    max-width: 50%;
    border-radius: 30px;
  }
  .abouttext h2 {
    font-size: 30px;
  }
}
