/* Background section styles */
.background {
  padding: 60px 10%;
  background-color: #fceff8;
  min-height: 100vh;
}

.background .content {
  width: 100%;
}

.background .title {
  text-align: center;
  margin-top: 60px;
}
.background p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #c76f95;
  font-size: 20px;
}

.background .title span {
  color: #be5985;
  font-size: 66px;
  font-weight: 900;
  position: relative;
  padding-bottom: 10px;
}

.background .span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
}

.background .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.background .box {
  width: 30%;
  height: 40dvh;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0px 10px #ffb8e0, 0 0px 10px #ffb8e0,0 0px 20px #ffb8e0;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.background .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px #ffb8e0, 0 0px 10px #ffb8e0,0 0px 20px #be5985;
}

.background .box .icon {
  height: 60px;
  width: 60px;
  background: #faa5d5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.background .box .icon i {
  color: #fceff8;
  font-size: 24px;
}

.background .box .topic {
  font-size: 20px;
  font-weight: 600;
  color: #be5985;
  margin-bottom: 15px;
  text-align: center;
}

.background .box p {
  font-size: 15px;
  line-height: 1.6;
  color: #c76f95;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1200px) {
  .background {
    padding: 40px 5%;
  }

  .background .box {
    width: 100%;
    height: 35dvh;
    margin-bottom: 20px;
  }
  .background .title{
    font-size: 30px;
  }
}
@media (max-width: 780px) {
  .background {
    padding: 40px 5%;
  }

  .background .box {
    width: 100%;
    margin-bottom: 20px;
  }
  .background span {
  margin-top: 50px;
  font-size: 30px;
}
}
@media (max-width: 785px) {
  .background .box {
    height: 40dvh;
  }
  .background .span{
    font-size: 15px;
  }
}
@media (max-width: 585px) {
  .background.box{
    height: 50dvh;
  }
  .background span{
    font-size: 30px !important;
  }
  .background .box p{
    font-size: 13px;
  }
  .background p{
    font-size: 16px;
  }
}

