/* About section styles */
#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  padding: 60px 5%;
  background-color: #ffedfa;
  flex-wrap: wrap;
  min-height: 90dvh;
}

/* Text container */
.abouttext {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.abouttext h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #f7a4de;
}

.abouttext h2 span {
  color: #be5985;
}

.abouttext h4 {
  font-size: 23px;
  font-weight: 550;
  color: #be5985;
  margin-bottom: 20px;
}

.abouttext p {
  font-size: 17px;
  font-weight: 500;
  color: #e969c3;
  line-height: 1.6;
}

/* Image container */
.aboutimg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutimg img {
  max-width: 50%;
  height: auto;
  border-radius: 100px;
  box-shadow: 0 0px 25px #be5985, 0 0px 25px #be5985, 0 0px 30px #be5985;
}

/* Responsive styles */
@media (max-width: 1200px) {
  #about {
    padding: 60px 5%;
  }

  .abouttext h2 {
    font-size: 32px;
  }

  .abouttext h4 {
    font-size: 18px;
  }

  .aboutimg img {
    max-width: 60%;
  }
}

@media (max-width: 992px) {
  .abouttext {
    padding-right: 20px;
  }

  .abouttext h2 {
    font-size: 28px;
  }

  .abouttext p {
    font-size: 15px;
  }

  .aboutimg img {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
    padding: 50px 5%;
    text-align: center;
  }

  .aboutimg {
    order: 0;
    width: 70dvw;
  }

  .abouttext {
    order: 0;
    align-items: center;
  }
  .abouttext h2{
    font-size: 50px;
  }

  .aboutimg img {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  #about {
    padding: 40px 5%;
  }


  .abouttext h2 {
    font-size: 24px;
  }

  .abouttext h4 {
    font-size: 16px;
  }

  .abouttext p {
    font-size: 14px;
  }

  .aboutimg img {
    max-width: 80%;
    border-radius: 50px;
  }
}

@media (max-width: 480px) {
  .aboutimg img {
    max-width: 50%;
    border-radius: 30px;
  }
}
